.contact-container{
  width: 100%;
  .cover-image::before{
    content: "";
    background-color:#1f1f25;
    position: absolute;
    width: 100%;
    height: 55rem;
    opacity: .2;
  }
  .cover-image{
    height: 55rem;
    background-size: cover;
    position:relative;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    
    .detail-cover-title{
      z-index: 1;
    }
 }
}
.layout{
  margin: auto;
  @media screen and (min-width:	750px){
    width: 90%;
  }
  
  @media screen and (min-width:970px){
    width: 80%;
  }
  @media screen and  (min-width:1170px){
    width: 70%;
  }
 }
.contact-grid{
  width: 100%;
  background-color:#F9F9F9;
  padding: 120px 5px;
  margin: 15rem 0;
  .item{
    margin-bottom: 20px;
  }
  .grid{
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 5px;
    height: 100%;
    
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1), box-shadow 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    .icon{
      display:block;
      color: #3a267a;
      font-size: 5rem;
      margin-bottom: 3rem;
      svg{
         stroke-width: 1;
      }
    }
    ul{
      li{
        a:hover{
          color: #3a267a;
        }
        a{
          line-height:1.5;
          font-size: 18px;
        }
      }
    }
    
  }
  .grid:hover{
      transform: translateY(-5px);
  }
 }
 .form-input{
  width: 100%;
  margin: auto;
  margin-bottom: 30rem;
  .form-text{
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    .tag-title{
      width: fit-content;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 18px;
      font-size: 16px;
      border-radius: 4px;
      margin-bottom: 12px;
    }
    h1{
      font-size: 50px;
      font-weight: 600;
      line-height: 62px;
      margin-bottom: 20px;
    }
    .form{
        display: flex;
        flex-direction: column;
        .input-item{
          margin-bottom: 20px;
          p{
            color: rgba(255, 61, 61, 0.897);
            margin: 5px 0px;
            font-size: 14px;
          }
        }
        input, textarea{
          display: block;
          width: 100%;
          padding: 0 20px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          transition: all 0.3s ease;
          height: 50px;
          line-height: 28px;
          outline: none;
          color: #1f1f25;
          font-size: 15px;
          letter-spacing: 0.1px;
          resize: none;
        }
        textarea{
          padding-top: 10px;
          resize: vertical;
          height: 120px;
        }
      }
      input:focus {
        border-color: #3a267a;
      }
      textarea:focus{
        border-color: #3a267a;
      }
  }
}
  .image-banner{
    padding:0px 35px;
    img{
      height: auto;
      max-width: 100%;
      border: none;
      -webkit-border-radius: 0;
      border-radius: 5px;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
.tag-title{
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #2B1C5C 79.69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.submit-button{
  .sb-btn{
    display: block;
    color: #ffffff;
    width: auto;
    border-color: transparent;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.1px;
    resize: none;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s ease;
    height: 50px;
    line-height: 28px;
    margin-bottom: 20px;
    outline: none;
    font-weight: 500;
    margin-top: 30px;
    background:#2B1C5C;
  }
  .sb-btn:hover{
    border-color: #2B1C5C;
    color: #2B1C5C;
    box-shadow: 0 10px 15px 0 rgba(253,71,102,0.1)!important;
    transform: translateY(-5px);
    background: transparent;
  }
}
.loading-icon{
  width:40px;
  height:40px;
}