.banner_content{
  padding:23.9rem 0;
  width: fit-content;
  margin: auto;

  .main-title{
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #2B1C5C 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 76px ;
    line-height: 100px ;
    font-weight: bold ;
    span:last-child{
      background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #E94E4E;
    color: #E94E4E;
    }
  }
  .sub-title{
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ACF824;
    color: #ACF824;
    font-weight: 400 !important;
    font-size: 18px !important;
    
  }
}
.banner_inner{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index:-1;
}
.over-lay::before{
  content: "";
  background-color: #E9979769;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.sm-section_gap_top{
  padding-top: 120px !important;
}
.single-gallery-youtube{
  height:auto !important;
}
.section_gap_bottom{
  padding-bottom: 120px;
}
.pb-40{
  padding-bottom: 40px !important;
}
.portfolio_box{
  .single_portfolio{
    img{
      height: 255px !important;
      object-fit: cover !important;
    }
  }
}