.my-slider-btn{
  border: none;
  background: none;
  .btn{
    padding: 20px 20px !important;
    font-size: 14px;
    font-weight: 400;
  }
}
.view-more-btn{
  padding: 3rem 0rem;
  .card-bottom{
    display: flex;
    justify-content: center;
    .borders-btn{
      // padding: 10px 104px;
    }
    :hover{
      background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    }
  }
 
}
.download{
  margin: 120px auto;
  &__title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 35px 0px;
    .photo{
     width: 85px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
     border-radius: 10px;
    }
    p{
      margin: 0px;
      font-size: 30px;
      font-weight: 800;
      color: #000;
      text-transform:capitalize;
    }
  }
  
  &__button,.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 10px 0px;
    &__allow:hover{
      cursor: pointer;
    }
    &__block:hover{
      cursor: not-allowed;
    }
    &__android{
      background-color: #459c67;
      .button__icon{
        color: white;
      }
    }
    &__ios{
      background-color: #3d63ea;
      .button__icon{
        color: white;
      }
    }
    &__icon{
      font-size: 50px;
    }
    &__box{
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      p{
        margin: 0;
      }
    }
    &__big_text{
      font-weight: 700;
      color: white;
    }
    &__small_text{
      font-size: 14px;
      color: white;
    }
    &__down_icon{
      color: white;
    }
    &__error_msg{
      position: absolute;
    }
  }
  
}
.bottom-gap{
  margin-bottom: 155px;
}